- // includes function since ES6 is not implemented in Jade or Node.js yet
- Array.prototype.includes = function(string){ return this.indexOf(string) > -1; }
doctype html
html
	head
		link(rel="stylesheet", type="text/css", href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		title WCN dJ (beta) #{version}
		link(rel="stylesheet", type="text/css", href="/css/spectrum.css")
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		link(rel="stylesheet", type="text/css", href="/css/utils.css")
		link(rel="stylesheet", type="text/css", href="/css/modals.css")
		link(rel="stylesheet", type="text/css", href="/css/animations.css")
		link(rel="stylesheet", type="text/css", href="/css/overrides.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-2.1.4.min.js")
		script(type="text/javascript", src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
		script(type="text/javascript", src="//cdn.socket.io/socket.io-1.3.5.js")
	body(class=string)
		if options.includes("logged_in")
			if !options.includes("no_paste")
				div.add_notice
			if !options.includes("popup")
				div.popup
					i.fa.fa-arrows-alt
				div.colour
					i.fa.fa-paint-brush
					input.spectrum(type="text")
		div.info
			span.port= port
			span.colour= colour
			span.shade= shade
		div.content
			div
				div.wrapper
					header(style="background-color: #{colour}")
						div.logo
							span WCN dJ
							if options.includes("logged_in")
								ul.dropdown
									li
										a(name="Logout", href="javascript:void(0)")
									if options.includes("own")
										li
											a(name="Force Reload", href="javascript:void(0)")
						ul.nav
							if options.includes("logged_in")
								li(name="search")
								li(name="add")
								li(name="drop")
								if options.includes("staff")
									li(name="veto")
							else
								li(name="login", modal="login")
					div.area
						div.queue
							div.none
								div
									span
							ul.item_list
						div.playlist
							div.none
								div
									span
							ul.item_list
					div.resize
						i.fa.fa-angle-down
					div.modal.modal-login
						input.username(type="text", placeholder="Username")
						input.password(type="password", placeholder="Password")
						button(name="login")
					div.modal.modal-add
						input.link(type="text", placeholder="Link")
						input.title(type="text", placeholder="Title (only for MP3 links)")
						button(name="add request")
					div.modal.modal-title
						input.title(type="text", placeholder="Custom Title")
						button(name="add request")
		div.screen
		script(type="text/javascript", src="/js/spectrum.js")
		script(type="text/javascript", src="/js/utils.js")
		script(type="text/javascript", src="/js/queue_utils.js")
		script(type="text/javascript", src="/js/queue.js")
		script(type="text/javascript", src="/js/buttons.js")
		script(type="text/javascript", src="/js/sockets.js")
		script(type="text/javascript", src="/js/look.js")
		script(type="text/javascript", src="/js/script.js")